- var STR_SITE_TITLE = "Chubak Bidpaa's Portfolio"
- var STR_SITE_SUBTITLE_WMD = "Web, Mobile, and Desktop Development"
- var STR_SITE_SUBTITLE_AI = "Artificial Intelligence Development"
- var STR_SITE_SUBTITLE_GD = "Game Development"
- var STR_SITE_SUBTITLE_BOT = "Bots and Services Development"

- var STR_DESC = "Desciption"
- var STR_SKILL = "Skills and Abilities"
- var STR_EXP = "Experiences" 
- var STR_CONTACT = "Contact"

- var STR_TECHS = "Technologies"
- var STR_PYTHON = "Python"
- var STR_KERA = "Keras"
- var STR_ANACONDA = "Anaconda"
- var STR_TENSORFLOW = "Tensorflow"
- var STR_CPP = "C++"
- var STR_OGL = "OpenGL"
- var STR_JS = "JavaScript"
- var STR_NODE = "NodeJS"
- var STR_EXPRESS = "ExpressJS"
- var STR_MONGO = "MongoDB"
- var STR_VUE = "Vue"
- var STR_QUASAR = "Quasar"
- var STR_VUETIFY = "Vuetify"
- var STR_ANIMEJS = "AnimeJS"
- var STR_PUG = "Pug"
- var STR_SASS = "Sass"
- var STR_RN = "React Native"
- var STR_MUI = "Material UI"
- var STR_FLASK = "Flask"
- var STR_ELECTRON = "Electron"
- var STR_GIT = "Git"
- var STR_GODOT = "Godot Engine"

- var STR_PHOTO = "Chubak Bidpaa aka Mohammad Nazemi - Recent Photo"



- var STR_SITE_DESC = "Dorud! You are currently viewing my personal portfolio. My name is Mohammad Nazemi but I also go by Chubak Bidpaa. Many factors are important when hiring a programmer. Dedication, skill, intelligence...It's almost like recruiting players for your MMORPG party! Well, this is the MMORPG of life, and choosing a programmer is just as important. So why should you recruit me, you may ask? Well, I retain all the aforementioned qualities, plus a tad bit of what makes a fella go \"man, this guy knows his stuff!\" So go ahead! elect me! choose me! select me! pick me! Take me! You won't regret it!  Scroll down for descriptions of my experiences. I've been programming since I was 16, and I've been actively programming since I was 22. I have a lot to show for it...   "

- var STR_EXP = "Experiences"

- var STR_EXP_TETRIS = "Before I acclimated myself with Godot Game Engine, I used Game Maker. I loved Game Maker. What did I expect, I was sixteen, young, inexperienced, and full of piss and vinegear. I Made a Tetris game called \"Tetrorica\" and I loved it! It was only 2 megabytes. Some Anti-Malware software alerted the users that they've downloaded an EXE with no publisher in sight, and I got a lot of complaints that I'm giving people 'viruses'. Normies, huh?"

- var STR_EXP_WORDPRESS = "I won't lie, I was really into Wordpress before I discovered OpenGL. I offered people o make them a website everywhere I went. I offered my uncle to make him a website, and I did. He hated it. He had someone else basically remake my website. Why did he hate it? Because it wasn't full of garbage plugins. I hate Wordpress plugins. I rather do everything myself. Which is in itself a headache-inducing eneavor so that's why I'll NEVER do PHP. I hate PHP. Don't ask me to do it! "



- var STR_BEDLAM = "Bedlam Noise Apparatus... Where should I start? It was the spring of 2019. I fetishized complexity. A small tip for people who are just starting, don't think that because something isn't complex enough, it's not worth doing. I was dumb to think that OpenGL and Adobe After Effects Plugin Development will make me into a 'professional programmer'. You can write rocket-guiding software using Assembly and you aren't more of a professional than someone who does level design in Unity. Why? Because what matters is how intuitive your code is. Which Bedlam Noise Apparatus wasn't. Don't get me wrong, it worked, and I released the plugin for free under GPL liscense, the one and only Adobe After Effects plugin to be released this way. But it just wasn't... intuitive! I had to CTRL+H variable names many times. If you are CTRL+Hing, something in your workflow is wrong, trust me!"

- var STR_EXP_EKELAAS = "Ekelaas.com is my latest venture. Of course it's not in English, so be careful if you are opening it inside a KKK meeting — I don't want my customers to be disrobed — Joking! I know you're all extreme SJWs! Anyways. This website is basically a product of Corona pandemic. It's a virtual class manager.Nothing especial about it. I love it, though. I haven't been paid to make an app for this website, but I can easily do it. Also, I don't think there's a need for it, but I can make it into a desktop app. FUTURE, ladies and gentlemen! Back in the days you had to man up and do some serious coding to get a cross-patform application going. These days you can do it in a jiffy. Whilst using the same language and frameworks. Awesome!"


- var STR_EXP_MOODIMEDIA = "Moodimedia was one of my earliest attempts at intermarrying web development and AI. The name stems from the term 'Moody', since the Python-based backend AI system would dissect the messages sent by users and classify them by their 'moods'. The website was online for a while before I couldn't pay for the hosting anymore. You can still view it in my Github."


- var STR_BIOGRAPHY_TITLE = "Biography"

- var STR_BIOGRAPHY = "I don't think any person on this planet cares about my stupid life; just know that before I spent a semester studying programming, which I currently do at the JDM community college, I was an English literature major. Yes, I get it, these two majors don't exactly match up, but I managed to do it nonetheless."

- var STR_PLANS = "Abilities and Skills"

- var STR_SKILL_AI = "My father doted for Matrix. He hated the second and third movie, but he used to sit down with me and watch the first one and later, explain it in his own middle-aged-dentist way. He died way before researchers made any advancements in the deep learning field, but now his son can make his computer think simply by writing line after line of code. I can make my websites POP with AI. What do I mean? Well, recommender systems, for one thing. TikTok and Netflix have made strides in this matter, but I can make one, in a smaller scale, for the website I'm making for you."


- var STR_SKILL_APP = "Stop lying to yourself! Most, if not all apps, are basically MVC. Even if they serve AI. Even if they control the security of a navy base. Most, if not all apps, are MVC. And I'm M. \"CB\" Nazemi, a freaking MVC wizard, esse! Ok. No more stupidity. Basically, I'll use Electron to make you desktop apps. I'll use React Native to make the same app in Android and iOS, and I'll use Vue to make the app in browsers. They all will use an Express+Mongo backend. Want this package? Contact moi, mon ami! "


- var STR_SKILL_GAME_DEV = "As much as I hate to admit it, Unity has a very bad reputation these days. Most Unity games are basically asset-flipping, cookie-cutting bland, mundane pieces of unwanted fecal matters. But Godot... It still retains its prestige. If you want your game made, have me make it in Godot! That's all."


- var STR_CONTACT_BLURB = "If you wish to contact me, you have two ways. One is email, one is mobile. You can view my number below, also, a contact form to email me. "




- var STR_PHONE_NUBMER = "09385130604"

